#btcolor {
    background-color: #48dcf7;
    color: white;
  }
  
  .toast-notification {
    background-color: #d6f4ff !important;
    color: #000 !important;
  }
  
  .toast-notification.success {
    background-color: #d6f4ff !important;
  }
  
  .toast-notification.error {
    background-color: #ffd6d6 !important;
  }
  